<h1>Can I Grow? User Activation</h1>

<p>Hi <%= @user.username %>,</p>

<p>
Welcome to Can I Grow! Click on the link below to activate your account:
</p>

<%= link_to "Activate", @frontend_path+@user.activation_token+'/'+@user.email %>
